/* Add CSS Styling */
p {
    background-color: hsl(360, 100%, 90%);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.twentyfour {
    font-size: 24px;
}

#fourth{
    background-color: hsl(120, 100%, 80%);
    font-weight: bold;
}