body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 14px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  font-size: 20px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
    font-size: 20px;
}

button {
  display: block;
  padding: 8px 30px;
  background: white;
  border: 1px solid #eee;
  margin: auto;
}